
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #3dc4bb;
    color: white;
    padding: 10px 0;
    text-align: center;
}
nav {
    background-color:#23746f;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-around;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}
section {
    padding: 20px;
}
.role {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px 0;
    background-color: white;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
    text-align: center;
}
.form-group {
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input[type="text"], input[type="file"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #0056b3;
}
.services-list {
    margin-top: 20px;
}
.service-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.service-item img {
    max-width: 100px;
    margin-right: 20px;
}
.service-item h3 {
    margin: 0;
}